@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --bg-color: #110a1d;
  --main-text: #ffffff;
  --main-blue-text: #478bf9;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: content-box;
  background: #478bf9;
}

html {
  scroll-behavior: smooth;
}

[class*=__container] {
  max-width: 1670px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: Lexend;
  font-size: 16px;
  background-color: var(--bg-color);
  color: #ffffff;
}

.header {
  position: relative;
  z-index: 999;
  margin-top: 16px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border: 4px solid rgb(71, 139, 249);
  border-radius: 64px;
  background: rgb(17, 10, 29);
  padding: 24px 48px 24px 48px;
}

.header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 15px;
}

.header__logo p {
  font-family: Lexend;
  text-transform: uppercase;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.icon-menu {
  display: none;
}

.menu__body {
  width: 588px;
  padding: 8px;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu__link {
  color: #ffffff;
  font-family: Lexend;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.menu__link:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #478bf9;
}

.header__panel {
  display: flex;
  width: 287px;
  justify-content: space-between;
}

.panel__lang {
  display: flex;
  align-items: center;
  border-radius: 24px;
  padding: 14px;
  text-transform: uppercase;
  border: 2px solid #478bf9;
  transition: all 0.3s ease 0s;
  gap: 3px;
  background-color: transparent;
}

.panel__lang :first-child {
  width: 16px;
  height: 16px;
}

.panel__lang :last-child {
  font-family: Lexend;
  font-size: 16px;
  font-weight: 400;
  box-sizing: content-box;
  line-height: 20px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.panel__lang:hover {
  background: rgb(71, 139, 249);
  color: hsl(0, 0%, 100%);
}

.panel__log {
  font-family: Lexend;
  border-radius: 24px;
  padding: 14px;
  box-sizing: content-box;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  transition: all 0.3s ease 0s;
  border: 2px solid #478bf9;
}

.panel__log:hover {
  background: rgb(71, 139, 249);
  color: hsl(0, 0%, 100%);
}

.panel__sign {
  font-family: Lexend;
  border-radius: 24px;
  background: rgb(71, 139, 249);
  padding: 14px;
  box-sizing: content-box;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  transition: all 0.3s ease 0s;
  border: 1px solid #478bf9;
}

.panel__sign:hover {
  background: #ffffff;
  color: #478bf9;
  border: 1px solid #478bf9;
}

.panel__lang_union-mobile {
  display: none;
}

.header__burger {
  display: none;
}

.shadow-text {
  transition: text-shadow 0.3s ease;
}

.shadow-text:hover {
  text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5);
}

@media (max-width: 1349px) {
  .header__logo p {
    display: none;
  }
}
@media (max-width: 1120px) {
  .header__logo {
    display: none;
  }
}
@media (max-width: 1030px) {
  .menu__body {
    display: none;
  }
  .header__panel {
    display: none;
  }
  .panel__lang_union-mobile {
    display: block;
  }
  .header__content {
    display: flex;
    justify-content: flex-end;
    padding: 10px 14px;
  }
  .panel-mob {
    display: flex;
    gap: 12px;
  }
  .burger {
    position: relative;
    width: 23px;
  }
  .burger-line {
    position: absolute;
    background-color: #fff;
  }
  .burger-line:first-child {
    width: 100%;
    right: 0;
    transform: translateY(10px);
    height: 2.6px;
    background-color: #fff;
    border-radius: 16px;
  }
  .burger-line:nth-child(2) {
    width: 100%;
    right: 0;
    transform: translateY(17px);
    height: 2.6px;
    background-color: #fff;
    border-radius: 16px;
  }
  .burger-line:last-child {
    width: 100%;
    right: 0;
    transform: translateY(24px);
    height: 2.6px;
    background-color: #fff;
    border-radius: 16px;
  }
}
:root {
  --bg-color: #110a1d;
  --main-text: #ffffff;
  --main-blue-text: #478bf9;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: content-box;
  background: #478bf9;
}

html {
  scroll-behavior: smooth;
}

[class*=__container] {
  max-width: 1670px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: Lexend;
  font-size: 16px;
  background-color: var(--bg-color);
  color: #ffffff;
}

:root {
  --bg-color: #110a1d;
  --main-text: #ffffff;
  --main-blue-text: #478bf9;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: content-box;
  background: #478bf9;
}

.footer {
  display: block;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 40px 123px 22px 134px;
  border-radius: 64px 64px 0px 0px;
  background: #1e1231;
  border-top: 4px solid var(--main-blue-text);
  border-right: 4px solid var(--main-blue-text);
  border-left: 4px solid var(--main-blue-text);
  max-height: 126px;
}

.footer__links {
  display: flex;
  gap: 40px;
}

.footer__links a {
  color: var(--main-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.footer__links a:hover {
  text-decoration: underline;
  color: var(--main-blue-text);
}

.footer__media {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.media__title {
  display: flex;
  justify-content: flex-end;
  color: var(--main-text);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.media__social-list {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
}

.media__social-item {
  list-style: none;
}

.icon-link:hover {
  filter: contrast(175%) brightness(123%);
}

@media (max-width: 1200px) {
  .footer__content {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    max-height: none;
    padding: 20px;
    border-radius: 50px 50px 0px 0px;
    gap: 20px;
  }
  .footer__links {
    flex-direction: column;
    gap: 2px;
  }
  .media__title {
    justify-content: flex-start;
  }
  .icon-link {
    width: 27px;
    height: 27px;
  }
}
:root {
  --bg-color: #110a1d;
  --main-text: #ffffff;
  --main-blue-text: #478bf9;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: content-box;
  background: #478bf9;
}

html {
  scroll-behavior: smooth;
}

[class*=__container] {
  max-width: 1670px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: Lexend;
  font-size: 16px;
  background-color: var(--bg-color);
  color: #ffffff;
}

:root {
  --bg-color: #110a1d;
  --main-text: #ffffff;
  --main-blue-text: #478bf9;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: content-box;
  background: #478bf9;
}

.main {
  position: relative;
  content: "";
}

.main__container {
  display: flex;
  justify-content: space-between;
}

.main__block-text {
  flex: 0 1 40%;
  margin-top: 18.51%;
}

.block-text__title {
  font-family: Lexend;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 24px;
  line-height: 100%;
  font-size: calc(36px + 2.994011976vw);
}

.block-text__title span {
  color: var(--main-blue-text);
}

.block-text__text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
  font-size: calc(17px + 0.7317073171vw);
}

.main__btn {
  color: hsl(0, 0%, 100%);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 72px;
  border-radius: 48px;
  background: rgb(71, 139, 249);
  border: 1px solid #478bf9;
  transition: all 0.3s ease 0s;
}

.main__btn:hover {
  background: hsl(0, 0%, 100%);
  border: 1px solid #478bf9;
  color: rgb(71, 139, 249);
}

.main__animation {
  flex: 0 1 21.3%;
  max-height: 1119px;
  overflow: hidden;
  display: flex;
  gap: 15px;
}

.animation__line img {
  display: block;
  width: 100px;
  height: 109%;
  animation-delay: 0s;
  animation-direction: normal;
  animation-fill-mode: none;
}

.animation__line-down {
  animation: lineDown 35s linear infinite;
}

@keyframes lineDown {
  0% {
    transform: translate(0%, -100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
.animation__line-up {
  animation: lineUp 35s linear infinite;
}

@keyframes lineUp {
  0% {
    transform: translate(0%, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.main__blog {
  flex: 0 1 32.37%;
  margin-top: 146px;
}

.blog__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.blog__title {
  color: hsl(0, 0%, 100%);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

.blog__article {
  box-sizing: border-box;
  border: 3px solid rgb(71, 139, 249);
  border-radius: 100px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.12);
}

.article {
  overflow: hidden;
  padding: 22px 40px 0px 24px;
}

.acticle__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 567px;
  overflow-y: scroll;
}

.acticle__wrapper:-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
}

.acticle__wrapper:-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: content-box;
  background: #478bf9;
}

.article__block {
  border-radius: 196px;
  background: #1e1231;
  padding: 16px 64px;
  cursor: pointer;
  margin-right: 16px;
  color: #fff;
  transition: all 0.1s ease 0s;
}

.article__block:hover {
  background: #478bf9;
  color: #fff;
}

.article__block *:first-child {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.article__block *:last-child {
  color: rgba(255, 255, 255, 0.6);
  font-family: FuturaPT;
  font-size: 14px;
  font-weight: 450;
  line-height: 16px;
  margin-top: 14px;
}

@media (max-width: 1610px) {
  .main {
    padding: 0;
  }
  .main__container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-height: none;
    gap: 50px;
  }
  .main__container:last-child {
    margin-bottom: 110px;
  }
  .main__block-text {
    text-align: center;
    margin-top: 70px;
    max-height: 950px;
    margin-left: 0px;
  }
  .main__animation {
    max-height: 100vh;
    margin-bottom: 35px;
    transform: rotate(90deg);
    margin-top: -200px;
    height: 700px;
    overflow: visible;
    flex: 0 1 auto;
  }
  .main__blog {
    margin: 0;
    flex: 0 1 auto;
    margin-top: -250px;
    padding: 0 10px;
  }
  .blog__content {
    max-width: 700px;
  }
  .acticle__wrapper {
    height: 409px;
    gap: 10px;
  }
}
@media (max-width: 665px) {
  .blog__article {
    border: 2px solid #478bf9;
    padding: 5px 18px 0px 5px;
    border-radius: 50px;
    max-width: 300px;
  }
  .article__block :first-child {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-left: -3px;
    line-height: 2rem;
    font-size: calc(14.5px + 0.487804878vw);
  }
  .article__block :last-child {
    margin-left: -5px;
    margin-top: 6px;
  }
  .article__block {
    padding: 15px 0px 15px 35px;
    width: 260px;
    border-radius: 40px;
    margin: 0;
  }
  .block-text__text {
    margin-bottom: 24px;
  }
  .main__btn {
    padding: 15px 20px;
    font-size: 18px;
  }
}
:root {
  --bg-color: #110a1d;
  --main-text: #ffffff;
  --main-blue-text: #478bf9;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: content-box;
  background: #478bf9;
}

html {
  scroll-behavior: smooth;
}

[class*=__container] {
  max-width: 1670px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: Lexend;
  font-size: 16px;
  background-color: var(--bg-color);
  color: #ffffff;
}

:root {
  --bg-color: #110a1d;
  --main-text: #ffffff;
  --main-blue-text: #478bf9;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: content-box;
  background: #478bf9;
}

@font-face {
  font-family: "Lexend";
  src: url(../../assets/fonts/Lexend-Regular.ttf);
}
@font-face {
  font-family: "FuturaPT";
  font-weight: 500;
  font-style: normal;
  src: url(../../assets/fonts/FuturaPT-Book.ttf);
}