@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
:root {
  --bg-color: #110a1d;
  --main-text: #ffffff;
  --main-blue-text: #478bf9;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: content-box;
  background: #478bf9;
}

html {
  scroll-behavior: smooth;
}

[class*=__container] {
  max-width: 1670px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: Lexend;
  font-size: 16px;
  background-color: var(--bg-color);
  color: #ffffff;
}

.header {
  position: relative;
  z-index: 999;
  margin-top: 16px;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border: 4px solid rgb(71, 139, 249);
  border-radius: 64px;
  background: rgb(17, 10, 29);
  padding: 24px 48px 24px 48px;
}

.header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 15px;
}

.header__logo p {
  font-family: Lexend;
  text-transform: uppercase;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
}

.icon-menu {
  display: none;
}

.menu__body {
  width: 588px;
  padding: 8px;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu__link {
  color: #ffffff;
  font-family: Lexend;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}

.menu__link:hover {
  padding-bottom: 5px;
  border-bottom: 2px solid #478bf9;
}

.header__panel {
  display: flex;
  width: 287px;
  justify-content: space-between;
}

.panel__lang {
  display: flex;
  align-items: center;
  border-radius: 24px;
  padding: 14px;
  text-transform: uppercase;
  box-sizing: content-box;
  border: 2px solid #478bf9;
  transition: all 0.3s ease 0s;
  gap: 3px;
}

.panel__lang :first-child {
  width: 16px;
  height: 16px;
}

.panel__lang :last-child {
  font-family: Lexend;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: hsl(0, 0%, 100%);
}

.panel__lang:hover {
  background: rgb(71, 139, 249);
  color: hsl(0, 0%, 100%);
}

.panel__log {
  font-family: Lexend;
  border-radius: 24px;
  padding: 14px;
  box-sizing: content-box;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  transition: all 0.3s ease 0s;
  border: 2px solid #478bf9;
}

.panel__log:hover {
  background: rgb(71, 139, 249);
  color: hsl(0, 0%, 100%);
}

.panel__sign {
  font-family: Lexend;
  border-radius: 24px;
  background: rgb(71, 139, 249);
  padding: 14px;
  box-sizing: content-box;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  transition: all 0.3s ease 0s;
  border: 1px solid #478bf9;
}

.panel__sign:hover {
  background: #ffffff;
  color: #478bf9;
  border: 1px solid #478bf9;
}

.panel__lang_union-mobile {
  display: none;
}

.header__burger {
  display: none;
}

.shadow-text {
  transition: text-shadow 0.3s ease;
}

.shadow-text:hover {
  text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5);
}

@media (max-width: 1349px) {
  .header__logo p {
    display: none;
  }
}
@media (max-width: 1120px) {
  .header__logo {
    display: none;
  }
}
@media (max-width: 1030px) {
  .menu__body {
    display: none;
  }
  .header__panel {
    display: none;
  }
  .panel__lang_union-mobile {
    display: block;
  }
  .header__content {
    display: flex;
    justify-content: flex-end;
    padding: 10px 14px;
  }
  .panel-mob {
    display: flex;
    gap: 12px;
  }
  .burger {
    position: relative;
    width: 23px;
  }
  .burger-line {
    position: absolute;
    background-color: #fff;
  }
  .burger-line:first-child {
    width: 100%;
    right: 0;
    transform: translateY(10px);
    height: 2.6px;
    background-color: #fff;
    border-radius: 16px;
  }
  .burger-line:nth-child(2) {
    width: 100%;
    right: 0;
    transform: translateY(17px);
    height: 2.6px;
    background-color: #fff;
    border-radius: 16px;
  }
  .burger-line:last-child {
    width: 100%;
    right: 0;
    transform: translateY(24px);
    height: 2.6px;
    background-color: #fff;
    border-radius: 16px;
  }
}
:root {
  --bg-color: #110a1d;
  --main-text: #ffffff;
  --main-blue-text: #478bf9;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: content-box;
  background: #478bf9;
}

html {
  scroll-behavior: smooth;
}

[class*=__container] {
  max-width: 1670px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: Lexend;
  font-size: 16px;
  background-color: var(--bg-color);
  color: #ffffff;
}

:root {
  --bg-color: #110a1d;
  --main-text: #ffffff;
  --main-blue-text: #478bf9;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: content-box;
  background: #478bf9;
}

.main {
  position: relative;
  content: "";
}

.main__container {
  display: flex;
  justify-content: space-between;
}

.main__block-text {
  flex: 0 1 40%;
  margin-top: 18.51%;
}

.block-text__title {
  font-family: Lexend;
  font-size: 96px;
  line-height: 96px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 24px;
}

.block-text__title span {
  color: var(--main-blue-text);
}

.block-text__text {
  color: rgba(255, 255, 255, 0.6);
  font-size: 32px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 48px;
}

.main__btn {
  color: hsl(0, 0%, 100%);
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 72px;
  border-radius: 48px;
  background: rgb(71, 139, 249);
  border: 1px solid #478bf9;
  transition: all 0.3s ease 0s;
}

.main__btn:hover {
  background: hsl(0, 0%, 100%);
  border: 1px solid #478bf9;
  color: rgb(71, 139, 249);
}

.main__animation {
  flex: 0 1 20.3%;
  max-height: 1119px;
  overflow: hidden;
  display: flex;
  gap: 15px;
}

.main__blog {
  flex: 0 1 32.37%;
  margin-top: 146px;
}

.blog__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.blog__title {
  color: hsl(0, 0%, 100%);
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

.blog__article {
  box-sizing: border-box;
  border: 3px solid rgb(71, 139, 249);
  border-radius: 100px;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.12);
}

.article {
  overflow: hidden;
  padding: 22px 40px 0px 24px;
}

.acticle__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 567px;
  overflow-y: scroll;
}

.acticle__wrapper:-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
}

.acticle__wrapper:-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: content-box;
  background: #478bf9;
}

.article__block {
  border-radius: 196px;
  background: #1e1231;
  padding: 16px 64px;
  cursor: pointer;
  color: #fff;
  transition: all 0.1s ease 0s;
}

.article__block:hover {
  background: #478bf9;
  color: #fff;
}

.article__block *:first-child {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
}

.article__block *:last-child {
  color: rgba(255, 255, 255, 0.6);
  font-family: FuturaPT;
  font-size: 14px;
  font-weight: 450;
  line-height: 16px;
  margin-top: 14px;
}

:root {
  --bg-color: #110a1d;
  --main-text: #ffffff;
  --main-blue-text: #478bf9;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: content-box;
  background: #478bf9;
}

html {
  scroll-behavior: smooth;
}

[class*=__container] {
  max-width: 1670px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: Lexend;
  font-size: 16px;
  background-color: var(--bg-color);
  color: #ffffff;
}

:root {
  --bg-color: #110a1d;
  --main-text: #ffffff;
  --main-blue-text: #478bf9;
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.12);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-clip: content-box;
  background: #478bf9;
}

@font-face {
  font-family: "Lexend";
  src: url(../../assets/fonts/Lexend-Regular.ttf);
}
@font-face {
  font-family: "FuturaPT";
  font-weight: 500;
  font-style: normal;
  src: url(../../assets/fonts/FuturaPT-Book.ttf);
}