@import "../Layouts/wrapper";

.header {
	position: relative;
	z-index: 999;
	margin-top: 16px;
}
.header__content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	border: 4px solid rgb(71, 139, 249);
	border-radius: 64px;
	background: rgb(17, 10, 29);
	padding: 24px 48px 24px 48px;
}
.header__logo {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 15px;
}
.header__logo p {
	font-family: $ff1;
	text-transform: uppercase;
	font-size: 25px;
	font-style: normal;
	font-weight: 400;
	line-height: 2rem;
}
.icon-menu {
	display: none;
}
.menu__body {
	width: 588px;
	padding: 8px;
}
.menu__list {
	display: flex;
	align-items: center;
	gap: 32px;
}
.menu__link {
	color: #ffffff;
	font-family: $ff1;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-decoration: none;
}
.menu__link:hover {
	padding-bottom: 5px;
	border-bottom: 2px solid #478bf9;
}
.header__panel {
	display: flex;
	width: 287px;
	justify-content: space-between;
}
.panel__lang {
	display: flex;
	align-items: center;
	border-radius: 24px;
	padding: 14px;
	text-transform: uppercase;
	border: 2px solid #478bf9;
	transition: all 0.3s ease 0s;
	gap: 3px;
	box-sizing: content-box;
	background-color: transparent;
}
.panel__lang :first-child {
	width: 16px;
	height: 16px;
}
.panel__lang :last-child {
	font-family: $ff1;
	font-size: 16px;
	font-weight: 400;
	box-sizing: content-box;
	line-height: 20px;
	text-align: center;
	color: hsl(0, 0%, 100%);
}
.panel__lang:hover {
	background: rgb(71, 139, 249);
	color: hsl(0, 0%, 100%);
}
.panel__log {
	font-family: $ff1;
	border-radius: 24px;
	padding: 14px;
	box-sizing: content-box;
	text-transform: uppercase;
	color: hsl(0, 0%, 100%);
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	transition: all 0.3s ease 0s;
	border: 2px solid #478bf9;
}
.panel__log,
.panel__sign {
	box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
}
.panel__sign:active,
.panel__log:active {
	box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
	transform: translateY(4px);
}
.panel__log:hover {
	background: rgb(71, 139, 249);
	color: hsl(0, 0%, 100%);
}
.panel__sign {
	font-family: $ff1;
	border-radius: 24px;
	background: rgb(71, 139, 249);
	padding: 14px;
	box-sizing: content-box;
	text-transform: uppercase;
	color: hsl(0, 0%, 100%);
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	transition: all 0.3s ease 0s;
	border: 1px solid #478bf9;
}
.panel__sign:hover {
	background: #ffffff;
	color: #478bf9;
	border: 1px solid #478bf9;
}
.panel__lang_union-mobile {
	display: none;
}
.header__burger {
	display: none;
}
.shadow-text {
	transition: text-shadow 0.3s ease;
}
.shadow-text:hover {
	text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.5);
}
.burger-btn {
	display: none;
}

@media (max-width: 1349px) {
	.header__logo p {
		display: none;
	}
}
@media (max-width: 1120px) {
	.header__logo {
		display: none;
	}
}
@media (max-width: 1030px) {
	.menu__body {
		display: none;
	}
	.header__panel {
		display: none;
	}
	.panel__lang_union-mobile {
		display: block;
	}
	.header__content {
		display: flex;
		justify-content: flex-end;
		padding: 10px 14px;
	}
	.panel-mob {
		display: flex;
		gap: 12px;
	}
	.burger {
		position: relative;
		width: 23px;
	}
	.burger.active {
		top: 17px;
	}
	.burger-line {
		position: absolute;
		background-color: #fff;
	}
	.burger-line:first-child {
		width: 100%;
		right: 0;
		transform: translateY(10px);
		height: 2.6px;
		background-color: #fff;
		border-radius: 16px;
		transition: transform 0.5s ease 0s;
	}
	.burger-line:nth-child(2) {
		width: 100%;
		right: 0;
		transform: translateY(17px);
		height: 2.6px;
		background-color: #fff;
		border-radius: 16px;
		transition: transform 0.5s ease 0s;
	}
	.burger-line:last-child {
		width: 100%;
		right: 0;
		transform: translateY(24px);
		height: 2.6px;
		background-color: #fff;
		border-radius: 16px;
		transition: transform 0.5s ease 0s;
	}
	.burger-line.active:first-child {
		transform: scaleX(10%);
		transform: rotate(-45deg);
	}
	.burger-line.active:nth-child(2) {
		transform: scale(0);
	}
	.burger-line.active:last-child {
		transform: rotate(45deg);
	}
	.menu__burger {
		position: absolute;
		right: 0;
		top: 90px;
		width: 320px;
		height: 550px;
		transform: translateX(100%);
		transition: transform 0.3s ease 0s;
		background-color: var(--bg-color);
		border: 2px solid var(--main-blue-text);
		border-radius: 50px;
	}
	.menu__burger.active {
		transform: translateX(0%);
	}
	.icon-menu {
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 0 15px;
		gap: 5px;
		margin: 30px 0;
	}
	.icon-menu span {
		padding: 13px 20px;
		box-sizing: border-box;
		border: 2px solid rgb(71, 139, 249);
		border-radius: 28px;
		background: rgb(17, 10, 29);
	}
	.icon-text {
		color: var(--main-text);
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
	}
	.icon-text:hover {
		padding-bottom: 5px;
		border-bottom: 2px solid #478bf9;
	}
	.burger-btn {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
	.burger-login-btn {
		margin: 0 15px;
	}
	.panel__log,
	.panel__sign {
		box-shadow: none;
	}
	.panel__sign:active,
	.panel__log:active {
		box-shadow: none;
		transform: translateY(0);
	}
}
