@import "../Layouts/wrapper";
@import "../components/ui";

.main {
	position: relative;
	content: "";
}
.main__container {
	display: flex;
	justify-content: space-between;
}
.main__block-text {
	flex: 0 1 40%;
	margin-top: 18.51%;
}
.block-text__title {
	font-family: $ff1;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 500;
	margin-bottom: 24px;
	line-height: 100%;
	font-size: calc(36px + 2.994011976vw);
}
.block-text__title span {
	color: var(--main-blue-text);
}
.block-text__text {
	color: rgba(255, 255, 255, 0.6);
	font-size: 32px;
	font-weight: 400;
	line-height: 32px;
	margin-bottom: 48px;
	font-size: calc(17px + 0.7317073171vw);
}
.main__btn {
	color: hsl(0, 0%, 100%);
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	text-align: center;
	text-transform: uppercase;
	padding: 20px 72px;
	border-radius: 48px;
	background: rgb(71, 139, 249);
	border: 1px solid #478bf9;
	transition: all 0.3s ease 0s;
}
.main__btn:hover {
	background: hsl(0, 0%, 100%);
	border: 1px solid #478bf9;
	color: rgb(71, 139, 249);
}
.main__animation {
	flex: 0 1 21.3%;
	max-height: 1119px;
	overflow: hidden;
	display: flex;
	gap: 15px;
}
.animation__line img {
	display: block;
	width: 100px;
	height: 109%;
	animation-delay: 0s;
	animation-direction: normal;
	animation-fill-mode: none;
}
.animation__line-down {
	animation: lineDown 35s linear infinite;
}
@keyframes lineDown {
	0% {
		transform: translate(0%, -100%);
	}
	100% {
		transform: translate(0, 0);
	}
}
.animation__line-up {
	animation: lineUp 35s linear infinite;
}
@keyframes lineUp {
	0% {
		transform: translate(0%, 0);
	}
	100% {
		transform: translate(0, -100%);
	}
}
.main__blog {
	flex: 0 1 32.37%;
	margin-top: 146px;
}
.blog__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 24px;
}
.blog__title {
	color: hsl(0, 0%, 100%);
	font-size: 40px;
	font-weight: 400;
	line-height: 40px;
	text-transform: uppercase;
}
.blog__article {
	box-sizing: border-box;
	border: 3px solid rgb(71, 139, 249);
	border-radius: 100px;
	backdrop-filter: blur(20px);
	background: rgba(255, 255, 255, 0.12);
}
.article {
	overflow: hidden;
	padding: 22px 40px 0px 24px;
}
.acticle__wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
	height: 567px;
	overflow-y: scroll;
}
.acticle__wrapper:-webkit-scrollbar {
	width: 8px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.12);
}
.acticle__wrapper:-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-clip: content-box;
	background: #478bf9;
}
.article__block {
	border-radius: 196px;
	background: #1e1231;
	padding: 16px 64px;
	cursor: pointer;
	margin-right: 16px;
	color: #fff;
	transition: all 0.1s ease 0s;
}
.article__block:hover {
	background: #478bf9;
	color: #fff;
}
.article__block *:first-child {
	color: rgb(255, 255, 255);
	font-size: 24px;
	font-weight: 400;
	line-height: 28px;
}
.article__block *:last-child {
	color: rgba(255, 255, 255, 0.6);
	font-family: $ff2;
	font-size: 14px;
	font-weight: 450;
	line-height: 16px;
	margin-top: 14px;
}
@media (max-width: 1610px) {
	.main {
		padding: 0;
	}
	.main__container {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		max-height: none;
		gap: 50px;
	}
	.main__container:last-child {
		margin-bottom: 110px;
	}
	.main__block-text {
		text-align: center;
		margin-top: 70px;
		max-height: 950px;
		margin-left: 0px;
	}
	.main__animation {
		max-height: 100vh;
		margin-bottom: 35px;
		transform: rotate(90deg);
		margin-top: -200px;
		height: 700px;
		overflow: visible;
		flex: 0 1 auto;
	}
	.main__blog {
		margin: 0;
		flex: 0 1 auto;
		margin-top: -250px;
		padding: 0 10px;
	}
	.blog__content {
		max-width: 700px;
	}
	.acticle__wrapper {
		height: 409px;
		gap: 10px;
	}
}
@media (max-width: 665px) {
	.blog__article {
		border: 2px solid #478bf9;
		padding: 5px 18px 0px 5px;
		border-radius: 50px;
		max-width: 300px;
	}
	.article__block :first-child {
		color: rgb(255, 255, 255);
		font-size: 16px;
		font-weight: 400;
		line-height: 20px;
		margin-left: -3px;
		line-height: 2rem;
		font-size: calc(14.5px + 0.487804878vw);
	}
	.article__block :last-child {
		margin-left: -5px;
		margin-top: 6px;
	}
	.article__block {
		padding: 15px 0px 15px 35px;
		width: 260px;
		border-radius: 40px;
		margin: 0;
	}
	.block-text__text {
		margin-bottom: 24px;
	}
	.main__btn {
		padding: 15px 20px;
		font-size: 18px;
	}
}
