@import "../Layouts/wrapper";

.main {
	position: relative;
	content: "";
}
.main__container {
	display: flex;
	justify-content: space-between;
}
.main__block-text {
}
.block-text {
}
.block-text__title {
}
.block-text__text {
}
.main__btn {
}
.main__animation {
}
.animation {
}
.animation__line {
}
.animation__line-down {
}
.animation__line-up {
}
.main__blog {
}
.blog__content {
}
.blog__title {
}
.blog__article {
}
.article {
}
.acticle__wrapper {
}
.article__block {
}