// $minwidth: 320px;
// $md1: 992.98px;
// $md2: 767.98px;
// $md3: 479.98px;
$ff1: Lexend;
$ff2: FuturaPT;

:root {
	--bg-color: #110a1d;
	--main-text: #ffffff;
	--main-blue-text: #478bf9;
}

//$pc: em($containerWidth); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
// $tablet: em(991.98); // Планшеты, некоторые мобильные устройства в горизонтальном положении
// $mobile: em(767.98); // Телефоны
// $mobileSmall: em(479.98); // Маленькие телефоны

::-webkit-scrollbar {
	width: 10px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.12);
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-clip: content-box;
	background: #478bf9;
}
